/*==================== GOOGLE FONTS ====================*/


/*==================== VARIABLES====================*/
:root {

/*========== Colors ==========*/
    --primary-color : ;
    --secondary-color : ;
    --link-hover-color : ;

/*========== Font SIZE ==========*/
    --big-font-size: ;
    --normal-font-size: ;

/*========== Font FACE ==========*/

    --body-font: ;

/*========== Font WEIGHT ==========*/
    --font-medium: ;
    --font-bold: ;

}

